.containerPlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    height: 80vh; /* Adjust to your needs */
    .title {
      /* Title styling */
      h1 {
        font-size: 2.5em; /* Font size */
        font-weight: bold; /* Font weight */
        text-align: center; /* Text alignment */
        margin-bottom: 10px; /* Bottom margin */
      }

      /* Subtitle styling */
      h2 {
        font-size: 1.5em; /* Font size */
        font-weight: normal; /* Font weight */
        text-align: center; /* Text alignment */
        margin-bottom: 20px; /* Bottom margin */
      }
      margin-bottom: 50px;
    }
  }